
.stream-view-container {

  &.disabled {
    background-color: gray;
  }

  .stream-view-item {
    h6 {
      display: flex;
      .stream-view-count {
        display: flex;
        align-items: center;
      }
    }
  }

}
